#imageCarousel {
    height: 30vh !important;
}

#carouselAutoplaying .carousel-inner,
#carouselAutoplaying .carousel-item {
    height: 100% !important;
}

#carouselAutoplaying .carousel-item img {
    object-fit: contain;
    height: 100% !important;
    width: 100% !important;
}
