#carouselAutoplaying .carousel-item {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carouselAutoplaying .carousel-item img {
    height: 30vh;
    max-height: 300px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}
