#imageCarousel {
    height: 300px !important;
}


#carouselAutoplaying .carousel-item img {
    display: block;
    object-fit: cover;
    height: fit-content !important;
    width: fit-content !important;
}