/*
#carouselAutoplaying {
    height: 30vh;
    max-height: 350px;
}

#carouselAutoplaying .carousel-inner,
#carouselAutoplaying .carousel-item {
    height: 100%;
}

#carouselAutoplaying .carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

#carouselAutoplaying .carousel-item img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}
*/