#imageCarousel {
    height: 30vh !important;
}

#carouselAutoplaying .carousel-inner {
    height: 30vh !important;
}

#carouselAutoplaying .carousel-item {
    height: 30vh !important;
}

#carouselAutoplaying .carousel-item img {
    display: block;
    object-fit: cover;
    height: 100% !important;
    width: 100% !important;
}
